<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dartmouth.cs.dartmouthcoach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/green_bus2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailedMap"
            android:label="Trip Tracker Map" />
        <activity
            android:name=".AddCardActivity"
            android:label="Add Card" />
        <activity android:name=".ViewTicketActivity" />
        <activity android:name=".ProfileEdit" />
        <activity
            android:name=".ShareDialog"
            android:label="@string/title_activity_share_dialog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AirportLocationActivity"
            android:label="@string/title_activity_airport_location"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
